aiofiles
cohere
dspy
elasticsearch
faiss-cpu # Use faiss-gpu for GPU support
joblib
numpy
openai
pandas
PyYAML
scikit-learn
sentence-transformers
torch
tqdm
typing-extensions
python-dotenv
uvicorn
fastapi
spacy